
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAtt.cshtml";
}
@using EchoAttendance.Resources
@Scripts.Render("~/Content/jqxGrid/js")

<script>
    var addedParticipantIDs = [0];
    $(document).ready(function () {
      
        $('#BtnAdd').click(function () {
            ClearForm();
        });
        //$('#SiteID2').change(function () {
        //    var selectedOption = $(this).val();
        //    fillgrid('/Att/Participant/ParticipantListBySite?SiteID=' + selectedOption);

        //});
        $('#tblAttendance').on('click', '.removeRow', function () {
            var participantID = $(this).closest('tr').find('input[name="ParticipantID"]').val();
            const index = addedParticipantIDs.indexOf(parseInt(participantID));

            if (index > -1) { // only splice array when item is found
                addedParticipantIDs.splice(index, 1); // 2nd parameter means remove one item only
            }
            $(this).closest('tr').remove();
            var totalParticipants = $("#tblAttendance tr").length;
            $('#TotalParticipant').val(totalParticipants);
        });


        setgrid();
        makeContextMenu("Menu", "GrdParticipant", 200, 100);
        $("#Menu").on('itemclick', function (event) {
            var args = event.args;
            var rowindex = $("#GrdParticipant").jqxGrid('getselectedrowindex');
            editrow = rowindex;
            var offset = $("#GrdParticipant").offset();
            var dataRecord = $("#GrdParticipant").jqxGrid('getrowdata', editrow);

            $("#ParticipantID").val(dataRecord.ParticipantID);
            $("#ParticipantName").val(dataRecord.ParticipantName);
            $("#FatherName").val(dataRecord.FatherName);
            $("#ContactNo").val(dataRecord.ContactNo);
            $("#EmailID").val(dataRecord.EmailID);


            $("#DesID").val(dataRecord.DesID).change();
            var selectedOption = $("#DesID option:selected");
            selectedOption.text(dataRecord.DesTitle);

            $("#SiteID").val(dataRecord.SiteID);
            var selectedOption = $("#SiteID option:selected");
            selectedOption.text(dataRecord.SiteName);

            $("#ModelParticipant").modal('show');
        });
        $("#Save").click(function () {
            console.log("test")
            var validationResult = function (isValid) {
                if (isValid) {
                    var varURL = ($("#ParticipantID").val() == '' || $("#ParticipantID").val() == '0' || $("#ParticipantID").val() == null) ? '/Att/Participant/Create' : '/Att/Participant/Edit';
                    if ($("#ParticipantID").val() == '') {
                        $("#ParticipantID").remove();
                    }
                    $.ajax(
                        {
                            url: varURL,
                            type: 'post',
                            data: $('#frmParticipant').serialize(),
                            success: function (result) {
                                if (result == "Record_Saved") {
                                    toastr["success"]('Record_Saved')
                                    $('#GrdParticipant').jqxGrid('updatebounddata', 'data');
                                    $('#frmParticipant').append("<input type='hidden' id='ParticipantID' name='ParticipantID' />");
                                    ClearForm();
                                    $('#ModelParticipant').modal('hide');

                                }
                                else if (result == "Record_Update") {
                                    toastr["success"]('Record_Update')
                                    $('#GrdParticipant').jqxGrid('updatebounddata', 'data');
                                    ClearForm();
                                    $('#ModelParticipant').modal('hide');
                                }
                                else {
                                    toastr["error"](result);
                                }
                            }
                        });

                }
            }
            $('#frmParticipant').jqxValidator('validate', validationResult)

        });
        $('#frmParticipant').jqxValidator({

            hintType: 'label',
            animationDuration: 0,
            rtl: true,
            rules: [
                { input: '#ParticipantName', message: 'Required', action: 'keyup, blur', rule: 'required' },
                { input: '#FatherName', message: 'Required', action: 'keyup, blur', rule: 'required' },
                { input: '#ContactNo', message: 'Required', action: 'keyup, blur', rule: 'required' },
                {
                    input: '#ContactNo', message: 'InvalidContactNo', action: 'keyup, blur', rule: function (input) {
                        return ValidateMobileNo($("#ContactNo").val())
                    }
                },
                {
                    input: '#EmailID', message: 'EmailID', action: 'keyup, blur', rule: function (input) {
                        return ValidateEmail($("#EmailID").val())
                    }
                },
            ], theme: 'classic'
        });

    });

    function setgrid() {
        var columnrenderer = function (value) {
            return '<div style="text-align: center; margin-top: 50px;">' + value + '</div>';
        }
        var cellsrenderer2 = function (row, column, value) {
            if (value != "")
                return "<div style='text-align: center; margin-top: 5px;'><a href='#'><i class='fas fa-check'></i></a></div>";
            else
                return "";
        }

        const isRTL = JSON.parse(localStorage.getItem('isRTL'))
        const aln = (isRTL) ? 'right' : 'left';
        var isAdaptive = ($(document).width() <= 500) ? true : false;

        $("#GrdParticipant").jqxGrid(
            {
                width: '99%',
                enabletooltips: true,
                pageable: true,
                pagermode: 'simple',
                showfilterrow: true,
                filterable: true,
                editable: false,
                autoheight: true,
                columnsresize: false,
                sortable: true,
                pagesize: 15,
                altrows: true,
                rtl: isRTL,
                adaptive: isAdaptive,
                columns: [
                    { text: 'Name', dataField: 'ParticipantName', width: '12%', cellsalign: aln, align: aln },
                    { text: 'Father Name', dataField: 'FatherName', width: '12%', cellsalign: aln, align: aln },
                    { text: 'Designation', dataField: 'DesTitle', width: '15%', cellsalign: aln, align: aln },
                    { text: 'Contact No', dataField: 'ContactNo', width: '12%', cellsalign: aln, align: aln, cellsformat: 'dd-MMM-yyyy' },
                    { text: 'Email', dataField: 'EmailID', cellsalign: aln, align: aln },
                    { text: 'Mark', dataField: 'ParticipantID', width: '8%', cellsrenderer: cellsrenderer2, renderer: columnrenderer }
                ]

            });
        // Click event handler for the check icon cell
        $('#GrdParticipant').on('cellclick', function (event) {
            if (event.args.datafield === 'ParticipantID') {
                var row = event.args.rowindex;
                var rowData = $("#GrdParticipant").jqxGrid('getrowdata', row);
                // Check if the participant is already added
                if (addedParticipantIDs.includes(rowData.ParticipantID)) {
                    alert('Participant is already added.');
                    return;
                }

                // Add the participant ID to the array of added IDs
                addedParticipantIDs.push(rowData.ParticipantID);
                // Append the information to the table below
                $('#tblAttendance').append('<tr>' +
                    '<td>' + rowData.ParticipantName + '</td>' +
                    '<td>' + rowData.FatherName + '</td>' +
                    '<td>' + rowData.ContactNo + '</td>' +
                    '<td>' + rowData.DesTitle + '</td>' +
                    '<td>' + rowData.EmailID + '</td>' +
                    '<td><input type="hidden" name="ParticipantID" value="' + rowData.ParticipantID + '"><button class="btn btn-sm btn-danger removeRow">x</button></td>' +
                    '</tr>');

                // Recalculate the total number of participants
                var totalParticipants = $("#tblAttendance tr").length;
                $('#TotalParticipant').val(totalParticipants);
            }
        });
        fillgrid('/Att/Participant/ParticipantListBySite?SiteID=' + $('#SiteID2').val());

    }
    function fillgrid(varurl) {

        var datafields = [
            { name: 'ParticipantID' },
            { name: 'ParticipantName' },
            { name: 'FatherName' },
            { name: 'ContactNo' },
            { name: 'EmailID' },
            { name: 'DesTitle' },
            { name: 'DesID' },

        ];
        var source =
        {
            datatype: "json",
            datafields: datafields,
            cache: false,
            //   url: '/HR/Dept/GetDept',
            url: varurl,
            root: 'Rows'
        };

        var dataadapter = new $.jqx.dataAdapter(source, {
            loadError: function (xhr, status, error) {
                console.log(error);
            }
        }
        );

        $("#GrdParticipant").jqxGrid(
            {
                source: dataadapter
            });
    }
    function ClearForm() {
        $("#ParticipantID").val('0');
        $("#ParticipantName").val('')
        $("#FatherName").val('');
        $("#ContactNo").val('');
        $("#EmailID").val('');
        $("#DesID").val('1')
        $("#SiteID").val('1');
    }
</script>





<div class="card card-primary mb-3" id="customersTable" data-list="{&quot;valueNames&quot;:[&quot;name&quot;,&quot;email&quot;,&quot;phone&quot;,&quot;address&quot;,&quot;joined&quot;],&quot;page&quot;:10,&quot;pagination&quot;:true}">
    <div class="card-header">
        <div class="row flex-between-center">
            <div class="col-12 col-sm-auto d-flex align-items-center pe-0">
                <div class="d-flex justify-content-between">
                    <!-- Added justify-content-between class -->
                    <h5 class="fs-0 mb-0 text-nowrap py-2 py-xl-0">Site:&nbsp;&nbsp;&nbsp;&nbsp; </h5>
                    @Html.DropDownList("SiteID2", null, htmlAttributes: new { @class = "select_2 form-control form-control-sm", style = "width: 200px;" })
                    <div style="width: 520px;"></div> <!-- Adding space between dropdowns -->
                    <h5 class="fs-0 mb-0 text-nowrap py-2 py-xl-0">Session:&nbsp;&nbsp;&nbsp;&nbsp;  </h5>
                    @Html.DropDownList("SessionID", null, htmlAttributes: new { @class = "select_2 form-control form-control-sm", style = "width: 500px;" })
                </div>
            </div>

        </div>
    </div>
    <div class="card-body p-2 bg-light">
        <form id="FrmSale">
            <div class="row p-2">
                <div class="col-md-6">
                    <fieldset>
                        <legend>Participant List</legend>
                        <div class="col-sm-auto text-end p-2">
                            <div id="table-customers-replace-element">
                                <button class="btn btn-outline-primary btn-sm" id="BtnAdd" type="button" data-bs-toggle="modal" data-bs-target="#ModelParticipant">
                                    <span class="d-none d-sm-inline-block ms-1">New </span>
                                    <span class="fas fa-plus" data-fa-transform="shrink-3 down-2"></span>
                                </button>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <div id="GrdParticipant">
                            </div>
                        </div>
                    </fieldset>

                </div>
                <div class="col-md-6">
                    <fieldset>
                        <legend>Participant Attendance</legend>
                        <div class="row">
                            <div class="table-responsive Scroll" style="height:502px">
                                <table class="table table-sm table-bordered table-striped table-hover table-responsive-lg">
                                    <thead>
                                        <tr class="table-primary">
                                            <th>Name</th>
                                            <th>F/Name</th>
                                            <th>Contact</th>
                                            <th>Designation</th>
                                            <th>Email</th>
                                            <th width="2%"></th>
                                        </tr>

                                    </thead>
                                    <tbody id="tblAttendance">
                                    </tbody>
                                    <tfoot id="tblTotal">
                                        <tr>
                                            <td colspan="4"><b> Total Number Of Participant</b></td>
                                            <td colspan="2">
                                                <input type="text" name="TotalParticipant" id="TotalParticipant" autocomplete="off" dir="auto" class="form-control form-control-sm" placeholder="0" readonly />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="4"><b> Attendance File</b></td>
                                            <td colspan="2">
                                                <input type="file" name="AttendanceFile" id="AttendanceFile" a class="form-control form-control-sm" />
                                            </td>
                                        </tr>
                                        @*<tr>
                                                <td colspan="4"><b> Image of the Session</b></td>
                                                <td colspan="2">
                                                    <input type="file" name="SessionImage" id="SessionImage"  class="form-control form-control-sm" />
                                                </td>
                                            </tr>*@
                                        <tr>
                                            <td colspan="9" height="5%">
                                                <hr />
                                                <button type="button" style="width:100%" id="SaveAtt" onclick="saveAtt()" class="btn btn-sm btn-outline-primary">
                                                    <span class="fas fa-plus" data-fa-transform="shrink-3 down-2"></span>
                                                    <b> Save</b>
                                                </button>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </fieldset>

                </div>
            </div>
        </form>
    </div>

</div>






<div id="ModelParticipant" class="modal fade" data-keyboard="false" data-bs-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add New Participant</h5>
                <button type="button" class="btn-close btn btn-sm btn-circle transition-base p-0" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="frmParticipant">
                <div class="modal-body">
                    <div class="row p-2">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label" for="ParticipantName">Participant Name </label>
                                <input type="text" id="ParticipantName" name="ParticipantName" class="form-control form-control-sm " />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label" for="FatherName">Father Name</label>
                                <input type="text" id="FatherName" name="FatherName" class="form-control form-control-sm " />
                            </div>
                        </div>

                    </div>
                    <div class="row p-2">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label" for="ContactNo">Contact No</label>
                                <input type="text" id="ContactNo" name="ContactNo" class="form-control form-control-sm " />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label" for="EmailID">Email ID</label>
                                <input type="text" id="EmailID" name="EmailID" class="form-control form-control-sm " />
                            </div>
                        </div>
                    </div>
                    <div class="row p-2">
                        <div class="col-md-6">
                            <label for="DesID"> Designation</label><br />
                            @Html.DropDownList("DesID", null, htmlAttributes: new { @class = "select_2 form-control form-control-sm" })

                        </div>
                        <div class="col-md-6">
                            <label for="SiteID"> Site</label><br />
                            @Html.DropDownList("SiteID", null, htmlAttributes: new { @class = "select_2 form-control form-control-sm" })
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <input type="hidden" id="ParticipantID" name="ParticipantID" value="0" />
                    <button type="button" id="Save" class="btn btn-sm btn-outline-primary">Save</button>
                    <button type="button" id="Cancel" class="btn btn-sm btn-outline-danger" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div id="Menu">
    <ul dir="rtl">
        <li>
            <img src="~/images/pencil.png" />
            <span>Edit</span>
        </li>

    </ul>
</div>
<script>

    function saveAtt() {
        if ($('#tblAttendance tr').length === 0) {
            toastr["error"]('Please add at least one participant.');
            return;
        }

        var attendanceFile = validateFile($('#AttendanceFile'), 2097152, ['pdf', 'png', 'jpg', 'jpeg']);
        // var sessionImage = validateFile($('#SessionImage'), 2097152, ['pdf','png', 'jpg', 'jpeg']);
        if ($("#AttendanceFile").val() == "") {
            toastr["error"]('Please add Attendance File');
            return;
        }
        if (attendanceFile === false /*|| sessionImage === false*/) return;
        $('#SaveAtt').prop('disabled', true);
        // Extracting ParticipantIDs from the table
        var participantIDs = [];
        $('#tblAttendance input[name="ParticipantID"]').each(function () {
            participantIDs.push($(this).val());
        });

        // Extracting other values
        var siteID2 = $('#SiteID2').val();
        var sessionID = $('#SessionID').val();

        // Create FormData object to send files
        var formData = new FormData();
        formData.append('SiteID2', siteID2);
        formData.append('SessionID', sessionID);
        for (var i = 0; i < participantIDs.length; i++) {
            formData.append('ParticipantIDs', participantIDs[i]);
        }
        // Append files to FormData
        var attendanceFile = $('#AttendanceFile')[0].files[0];
        // var sessionImage = $('#SessionImage')[0].files[0];
        formData.append('AttendanceFile', attendanceFile);
        // formData.append('SessionImage', sessionImage);

        // Making AJAX request
        $.ajax({
            url: '/Att/Attendance/SaveAttendance',
            type: 'POST',
            data: formData,
            contentType: false,
            processData: false,
            success: function (response) {
               
                if (response == "Success") {
                    toastr["success"]('Attendance Submitted Successfully.');
                    setTimeout(function () {
                        location.reload();
                    }, 3000); // 3000 milliseconds = 3 seconds
                }
                else {
                    $('#SaveAtt').prop('disabled', false);
                    toastr["error"](response);
                }
            },
            error: function (xhr, status, error) {
                // Handle error response here
                $('#SaveAtt').prop('disabled', false);
                console.error(xhr, status, error);
            }
        });
    }



    function validateFile(fileInput, maxSize, allowedFormats) {
        var file = fileInput[0].files[0];
        if (!file) return null;

        var fileSize = file.size;
        var fileName = file.name;
        var fileExtension = fileName.split('.').pop().toLowerCase();

        if (fileSize > maxSize) {
            toastr["error"]('File size exceeds the maximum allowed size.');
            return false;
        }

        if (!allowedFormats.includes(fileExtension)) {
            toastr["error"]('Invalid file format.');
            return false;
        }

        return file;
    }



</script>