@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using AlphaTechMIS.Resources
@Scripts.Render("~/Content/jqxGrid/js")
<script>

    $(document).ready(function () {

        setCategoryGrid();
        setTypeGrid();
        setProductGrid();
        makeContextMenu("CMenu", "GrdCategory", 200, 100);
        makeContextMenu("TMenu", "GrdType", 200, 100);
        makeContextMenu("PMenu", "GrdProduct", 200, 100);

        FillSelect2('/INV/z_Product/zCategoryList', 'P_Combo_PCID', 'PCID', 'Category', '@Resource.Please_Select');

        FillSelect2('/INV/z_Unit/UnitList', 'UnitID', 'UnitID', 'UnitName', '@Resource.Please_Select');

        SaveBtnClick('SaveCategory', 'PCID', '/INV/z_Product/SaveCategory', '/INV/z_Product/EditCategory', 'FrmCategory', 'ModelCategory', 'GrdCategory');

        SaveBtnClick('SaveType', 'PTID', '/INV/z_Product/SaveType', '/INV/z_Product/EditType', 'FrmType', 'ModelType', 'GrdType');

        SaveBtnClick('SaveProduct', 'ProductID', '/INV/z_Product/SaveProduct', '/INV/z_Product/EditProduct', 'FrmProduct', 'ModelProduct', 'GrdProduct');


        $("#CMenu").on('itemclick', function (event) {
            var args = event.args;
            var rowindex = $("#GrdCategory").jqxGrid('getselectedrowindex');
            if ($.trim($(args).text()) == "@Resource.Edit") {
                editrow = rowindex;
                var offset = $("#GrdCategory").offset();
                // get the clicked row's data and initialize the input fields.
                var dataRecord = $("#GrdCategory").jqxGrid('getrowdata', editrow);
                $("#PCID").val(dataRecord.PCID);
                $("#Category").val(dataRecord.Category);
                $("#ModelCategory").modal('show');
            }

            else {

            }
        });
        $("#TMenu").on('itemclick', function (event) {
            var args = event.args;
            var rowindex = $("#GrdType").jqxGrid('getselectedrowindex');
            if ($.trim($(args).text()) == "@Resource.Edit") {
                editrow = rowindex;
                var offset = $("#GrdType").offset();
                // get the clicked row's data and initialize the input fields.
                var dataRecord = $("#GrdType").jqxGrid('getrowdata', editrow);
                $("#PTID").val(dataRecord.PTID);

                $("#Comb_PCID").val(dataRecord.PCID).change();
                $("#UnitID").val(dataRecord.UnitID).change();
                $("#TName").val(dataRecord.TName);

                $("#ModelType").modal('show');
            }

            else {

            }
        });
        $("#PMenu").on('itemclick', function (event) {
            var args = event.args;
            var rowindex = $("#GrdProduct").jqxGrid('getselectedrowindex');
            if ($.trim($(args).text()) == "@Resource.Edit") {
                editrow = rowindex;
                var offset = $("#GrdProduct").offset();
                // get the clicked row's data and initialize the input fields.
                var dataRecord = $("#GrdProduct").jqxGrid('getrowdata', editrow);
                $("#ProductID").val(dataRecord.ProductID);
                //before click on menu , for the first time it's important to click on add button
                $("#P_Combo_PCID").val(dataRecord.PCID);
                $("#P_Combo_PCID").trigger('change');

                FillSelect2SyncSelected('/INV/z_Product/zTypeListByID?PCID=' + dataRecord.PCID, 'P_Combo_PTID', 'PTID', 'TName', dataRecord.PTID, '@Resource.Please_Select');
                $("#PName").val(dataRecord.PName);
                $("#PCode").val(dataRecord.PCode);
                $("#Description").val(dataRecord.Description);
                $("#DefualtPurchasePrice").val(dataRecord.DefualtPurchasePrice);
                $("#DefualtSalePrice").val(dataRecord.DefualtSalePrice);

                $("#ModelProduct").modal('show');
            }

            else {

            }
        });


        $('#FrmCategory').jqxValidator({
            hintType: 'label',
            animationDuration: 0,
            rtl: true,
            rules: [
                { input: '#Category', message: '@Resource.Required', action: 'keyup, blur', rule: 'required' },


            ], theme: 'classic'
        });

        $('#FrmType').jqxValidator({
            hintType: 'label',
            animationDuration: 0,
            rtl: true,
            rules: [
                { input: '#TName', message: '@Resource.Required', action: 'keyup, blur', rule: 'required' },
                { input: '#Comb_PCID', message: '@Resource.Required', action: 'keyup, blur,change', rule: function (input) { var val = $("#Comb_PCID").val(); if (val == "" || val == 0) { return false; } return true; } },
                { input: '#UnitID', message: '@Resource.Required', action: 'keyup, blur,change', rule: function (input) { var val = $("#UnitID").val(); if (val == "" || val == 0) { return false; } return true; } },


            ], theme: 'classic'
        });

        $('#FrmProduct').jqxValidator({
            hintType: 'label',
            animationDuration: 0,
            rtl: true,
            rules: [
                { input: '#PName', message: '@Resource.Required', action: 'keyup, blur', rule: 'required' },
                { input: '#PCode', message: '@Resource.Required', action: 'keyup, blur', rule: 'required' },
                { input: '#DefualtPurchasePrice', message: '@Resource.Required', action: 'keyup, blur', rule: 'required' },
                { input: '#DefualtSalePrice', message: '@Resource.Required', action: 'keyup, blur', rule: 'required' },
                { input: '#Description', message: '@Resource.Required', action: 'keyup, blur', rule: 'required' },
                { input: '#P_Combo_PCID', message: '@Resource.Required', action: 'keyup, blur,change', rule: function (input) { var val = $("#P_Combo_PCID").val(); if (val == "" || val == 0) { return false; } return true; } },
                { input: '#P_Combo_PTID', message: '@Resource.Required', action: 'keyup, blur,change', rule: function (input) { var val = $("#P_Combo_PTID").val(); if (val == "" || val == 0) { return false; } return true; } },


            ], theme: 'classic'
        });
    });


</script>

<div class="row">
    <div class="col-md-12">
        <div class="card card-primary mb-3" id="customersTable" data-list="{&quot;valueNames&quot;:[&quot;name&quot;,&quot;email&quot;,&quot;phone&quot;,&quot;address&quot;,&quot;joined&quot;],&quot;page&quot;:10,&quot;pagination&quot;:true}">
            <div class="card-header">
                <div class="row flex-between-center">
                    <div class="col-4 col-sm-auto d-flex align-items-center pe-0">
                        <h5 class="fs-0 mb-0 text-nowrap py-2 py-xl-0">@Resource.Product </h5>
                    </div>
                    <div class="col-8 col-sm-auto text-end ps-2">
                        <div id="table-customers-replace-element">

                            <button class="btn btn-outline-primary btn-sm" id="AddProduct" type="button" data-bs-toggle="modal" data-bs-target="#ModelProduct" onclick="ClearFrmProduct();">
                                <span class="d-none d-sm-inline-block ms-1">@Resource.New </span>
                                <span class="fas fa-plus" data-fa-transform="shrink-3 down-2"></span>
                            </button>

                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body p-2 bg-light">
                <div class="table-responsive">
                    <div id="GrdProduct">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card card-primary mb-3" id="customersTable" data-list="{&quot;valueNames&quot;:[&quot;name&quot;,&quot;email&quot;,&quot;phone&quot;,&quot;address&quot;,&quot;joined&quot;],&quot;page&quot;:10,&quot;pagination&quot;:true}">
            <div class="card-header">
                <div class="row flex-between-center">
                    <div class="col-4 col-sm-auto d-flex align-items-center pe-0">
                        <h5 class="fs-0 mb-0 text-nowrap py-2 py-xl-0">@Resource.Type </h5>
                    </div>
                    <div class="col-8 col-sm-auto text-end ps-2">
                        <div id="table-customers-replace-element">

                            <button class="btn btn-outline-primary btn-sm" id="AddType" type="button" data-bs-toggle="modal" data-bs-target="#ModelType" onclick="ClearFrmType();">
                                <span class="d-none d-sm-inline-block ms-1">@Resource.New </span>
                                <span class="fas fa-plus" data-fa-transform="shrink-3 down-2"></span>
                            </button>

                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body p-2 bg-light">
                <div class="table-responsive">
                    <div id="GrdType">
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-6">

        <div class="card card-primary mb-3" id="customersTable" data-list="{&quot;valueNames&quot;:[&quot;name&quot;,&quot;email&quot;,&quot;phone&quot;,&quot;address&quot;,&quot;joined&quot;],&quot;page&quot;:10,&quot;pagination&quot;:true}">
            <div class="card-header">
                <div class="row flex-between-center">
                    <div class="col-4 col-sm-auto d-flex align-items-center pe-0">
                        <h5 class="fs-0 mb-0 text-nowrap py-2 py-xl-0">@Resource.Category </h5>
                    </div>
                    <div class="col-8 col-sm-auto text-end ps-2">
                        <div id="table-customers-replace-element">

                            <button class="btn btn-outline-primary btn-sm" id="AddCategory" type="button" data-bs-toggle="modal" data-bs-target="#ModelCategory">
                                <span class="d-none d-sm-inline-block ms-1">@Resource.New </span>
                                <span class="fas fa-plus" data-fa-transform="shrink-3 down-2"></span>
                            </button>

                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body p-2 bg-light">
                <div class="table-responsive">
                    <div id="GrdCategory">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>




<div class="modal fade" id="ModelCategory" data-keyboard="false" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-scrollable modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> @Resource.New_Category_Form</h5>
                <button type="button" class="btn-close btn btn-sm btn-circle transition-base p-0" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="FrmCategory">
                <div class="modal-body">
                    <div class="row p-2">

                        <div class="col-md-12">
                            <label for="Category"> @Resource.Category</label><br />
                            <input type="text" name="Category" id="Category" autocomplete="off" dir="auto" class="form-control form-control-sm" />
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <input type="hidden" name="PCID" id="PCID" class="form-control form-control-sm" />
                    <button type="button" id="SaveCategory" class="btn btn-sm btn-outline-primary">@Resource.Save</button>
                    <button type="button" class="btn btn-sm btn-outline-danger" data-bs-dismiss="modal">@Resource.Close</button>
                </div>

            </form>

        </div>
    </div>
</div>


<div class="modal fade" id="ModelType" data-keyboard="false" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-scrollable modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> @Resource.New_Type_Form</h5>
                <button type="button" class="btn-close btn btn-sm btn-circle transition-base p-0" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="FrmType">
                <div class="modal-body">
                    <div class="row p-2">
                        <div class="col-md-12">
                            <label for="PCID"> @Resource.Category</label><br />
                            <select id="Comb_PCID" name="PCID" class="select_2 form-control form-control-sm">
                            </select>
                        </div>
                    </div>
                    <div class="row p-2">
                        <div class="col-md-12">
                            <label for="UnitID"> @Resource.Unit</label><br />
                            <select id="UnitID" name="UnitID" class="select_2 form-control form-control-sm">
                            </select>
                        </div>
                    </div>
                    <div class="row p-2">
                        <div class="col-md-12">
                            <label for="TName"> @Resource.Type</label><br />
                            <input type="text" name="TName" id="TName" autocomplete="off" dir="auto" class="form-control form-control-sm" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="PTID" id="PTID" class="form-control form-control-sm" />
                    <button type="button" id="SaveType" class="btn btn-sm btn-outline-primary">@Resource.Save</button>
                    <button type="button" class="btn btn-sm btn-outline-danger" data-bs-dismiss="modal">@Resource.Close</button>
                </div>

            </form>

        </div>
    </div>
</div>


<div class="modal fade" id="ModelProduct" data-keyboard="false" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> @Resource.New_Product_Form</h5>
                <button type="button" class="btn-close btn btn-sm btn-circle transition-base p-0" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="FrmProduct">
                <div class="modal-body">
                    <div class="row p-2">
                        <div class="col-md-6">
                            <label for="P_Combo_PCID"> @Resource.Category</label><br />
                            <select id="P_Combo_PCID" name="PCID" class="select_2 form-control form-control-sm" onchange="GetPTID();">
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="P_Combo_PTID"> @Resource.Type</label><br />
                            <select id="P_Combo_PTID" name="PTID" class="select_2 form-control form-control-sm">
                            </select>
                        </div>
                    </div>

                    <div class="row p-2">

                        <div class="col-md-6">
                            <label for="PName"> @Resource.Product</label><br />
                            <input type="text" name="PName" id="PName" autocomplete="off" dir="auto" class="form-control form-control-sm" />
                        </div>
                        <div class="col-md-6">
                            <label for="PCode"> @Resource.Code</label><br />
                            <input type="text" name="PCode" id="PCode" autocomplete="off" dir="auto" class="form-control form-control-sm" />
                        </div>
                    </div>
                    <div class="row p-2">

                        <div class="col-md-6">
                            <label for="DefualtPurchasePrice"> Defualt Purchase Price</label><br />
                            <input type="text" name="DefualtPurchasePrice" id="DefualtPurchasePrice" autocomplete="off" dir="auto" class="form-control form-control-sm" />
                        </div>
                        <div class="col-md-6">
                            <label for="DefualtSalePrice"> Defualt Sale Price</label><br />
                            <input type="text" name="DefualtSalePrice" id="DefualtSalePrice" autocomplete="off" dir="auto" class="form-control form-control-sm" />
                        </div>
                    </div>
                    <div class="row p-2">

                        <div class="col-md-12">
                            <label for="Description"> @Resource.Description</label><br />
                            <input type="text" name="Description" id="Description" autocomplete="off" dir="auto" class="form-control form-control-sm" />
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <input type="hidden" name="ProductID" id="ProductID" class="form-control form-control-sm" />
                    <button type="button" id="SaveProduct" class="btn btn-sm btn-outline-primary">@Resource.Save</button>
                    <button type="button" class="btn btn-sm btn-outline-danger" data-bs-dismiss="modal">@Resource.Close</button>
                </div>

            </form>

        </div>
    </div>
</div>


<div id="CMenu">
    <ul dir="rtl">
        <li>
            <img src="~/images/pencil.png" />
            <span>@Resource.Edit</span>
        </li>

    </ul>
</div>
<div id="TMenu">
    <ul dir="rtl">
        <li>
            <img src="~/images/pencil.png" />
            <span>@Resource.Edit</span>
        </li>

    </ul>
</div>
<div id="PMenu">
    <ul dir="rtl">
        <li>
            <img src="~/images/pencil.png" />
            <span>@Resource.Edit</span>
        </li>

    </ul>
</div>
<script>

    function setCategoryGrid() {

        const isRTL = JSON.parse(localStorage.getItem('isRTL'))
        const aln = (isRTL) ? 'right' : 'left';
        var isAdaptive = ($(document).width() <= 500) ? true : false;

        $("#GrdCategory").jqxGrid(
            {
                width: '99%',
                enabletooltips: true,
                pageable: true,
                pagermode: 'simple',
                showfilterrow: true,
                filterable: true,
                editable: false,
                autoheight: true,
                columnsresize: false,
                sortable: true,
                pagesize: 15,
                altrows: true,
                rtl: isRTL,
                adaptive: isAdaptive,
                columns: [

                    { text: '@Resource.ID', dataField: 'PCID', width: '30%', cellsalign: aln, align: aln },
                    { text: '@Resource.Category', dataField: 'Category', cellsalign: aln, align: aln },

                ]

            });
        fillGrids('/INV/z_Product/zCategoryList','GrdCategory');

    }
    function setTypeGrid() {

        const isRTL = JSON.parse(localStorage.getItem('isRTL'))
        const aln = (isRTL) ? 'right' : 'left';
        var isAdaptive = ($(document).width() <= 500) ? true : false;

        $("#GrdType").jqxGrid(
            {
                width: '99%',
                enabletooltips: true,
                pageable: true,
                pagermode: 'simple',
                showfilterrow: true,
                filterable: true,
                editable: false,
                autoheight: true,
                columnsresize: false,
                sortable: true,
                pagesize: 15,
                altrows: true,
                rtl: isRTL,
                adaptive: isAdaptive,
                columns: [

                    { text: '@Resource.Type', dataField: 'TName', width: '40%',cellsalign: aln, align: aln },
                    { text: '@Resource.Category', dataField: 'Category', width: '40%', cellsalign: aln, align: aln },
                    { text: '@Resource.Unit', dataField: 'UnitName', cellsalign: aln, align: aln },

                ]

            });
        fillGrids('/INV/z_Product/zType_List','GrdType');

    }
    function setProductGrid() {

        const isRTL = JSON.parse(localStorage.getItem('isRTL'))
        const aln = (isRTL) ? 'right' : 'left';
        var isAdaptive = ($(document).width() <= 500) ? true : false;

        $("#GrdProduct").jqxGrid(
            {
                width: '99%',
                enabletooltips: true,
                pageable: true,
                pagermode: 'simple',
                showfilterrow: true,
                filterable: true,
                editable: false,
                autoheight: true,
                columnsresize: false,
                sortable: true,
                pagesize: 15,
                altrows: true,
                rtl: isRTL,
                adaptive: isAdaptive,
                columns: [

                    { text: '@Resource.Product', dataField: 'PName', width: '20%', cellsalign: aln, align: aln },
                    { text: '@Resource.Code', dataField: 'PCode', width: '8%', cellsalign: aln, align: aln },
                    { text: '@Resource.Type', dataField: 'TName', width: '10%', cellsalign: aln, align: aln },
                    { text: '@Resource.Category', dataField: 'Category', width: '10%', cellsalign: aln, align: aln },
                    { text: '@Resource.Unit', dataField: 'UnitName', cellsalign: aln, align: aln },
                    { text: "DefualtPurchasePrice", dataField: 'DefualtPurchasePrice', width: '15%', cellsalign: aln, align: aln },
                    { text: "DefualtSalePrice", dataField: 'DefualtSalePrice', width: '15%', cellsalign: aln, align: aln },

                ]

            });
        fillGrids('/INV/z_Product/zProduct_List','GrdProduct');

    }
    function fillGrids(varurl, varGrdName) {
        var datafields = [
            { name: 'ProductID' },
            { name: 'PName' },
            { name: 'DefualtPurchasePrice' },
            { name: 'DefualtSalePrice' },
            { name: 'PCode' },
            { name: 'Description' },
            { name: 'PTID' },
            { name: 'Image' },
            { name: 'TName' },
            { name: 'PCID' },
            { name: 'UnitID' },
            { name: 'Category' },
            { name: 'UnitName' },
        ];
        var source =
        {
            datatype: "json",
            datafields: datafields,
            cache: false,
            url: varurl,
            root: 'Rows'
        };

        var dataadapter = new $.jqx.dataAdapter(source, {
            loadError: function (xhr, status, error) {
                console.log(error);
            }
        }
        );

        $("#" + varGrdName).jqxGrid(
            {
                source: dataadapter
            });
    }
    function ClearFrmType() {
        $("#UnitID").val(0).change();
        $("#Comb_PCID").val(0).change();
        $("#TName").val('');
        $("#TPID").val('');
        $("#Comb_PCID").empty();
        FillSelect2('/INV/z_Product/zCategoryList', 'Comb_PCID', 'PCID', 'Category', '@Resource.Please_Select');
    }
    function ClearFrmProduct() {

        $("#PName").val('');
        $("#ProductID").val('');

        $("#P_Combo_PCID").val(0).change();
        $("#P_Combo_PTID").empty();

        FillSelect2('/INV/z_Product/zTypeListByID?PCID=0', 'P_Combo_PTID', 'PTID', 'TName', '@Resource.Please_Select');

    }
    function GetPTID() {
        $("#P_Combo_PTID").empty();
        FillSelect2('/INV/z_Product/zTypeListByID?PCID=' + $("#P_Combo_PCID").val(), 'P_Combo_PTID', 'PTID', 'TName', '@Resource.Please_Select');
    }
</script>