
@{
    ViewBag.Title = Resource.ExchangeRate;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/Content/jqxGrid/js")
@using AlphaTechMIS.Resources

<script>
    $(document).ready(function () {
        setgrid();
        FillSelect2('/INV/ExchangeRate/GetCurrencyList', 'CurrencyID', 'CurrencyID', 'CurrencyEnglish', '@Resource.Please_Select');

        SaveBtnClick('Save', 'ExchangeID', '/INV/ExchangeRate/Create', '/INV/ExchangeRate/Edit', 'FrmExchangeRate', 'ModelExchangeRate', 'GrdExchangeRate');


        $('#FrmExchangeRate').jqxValidator({
            hintType: 'label',
            animationDuration: 0,
            rtl: true,
            rules: [
                { input: '#Amount', message: '@Resource.Required', action: 'keyup, blur', rule: 'required' },
                { input: '#ExRate', message: '@Resource.Required', action: 'keyup, blur', rule: 'required' },
                { input: '#CurrencyID', message: '@Resource.Required', action: 'keyup, blur,change', rule: function (input) { var val = $("#CurrencyID").val(); if (val == "" || val == 0) { return false; } return true; } },


            ], theme: 'classic'
        });
    });
</script>

<div class="card card-primary mb-3" id="customersTable" data-list="{&quot;valueNames&quot;:[&quot;name&quot;,&quot;email&quot;,&quot;phone&quot;,&quot;address&quot;,&quot;joined&quot;],&quot;page&quot;:10,&quot;pagination&quot;:true}">
    <div class="card-header">
        <div class="row flex-between-center">
            <div class="col-4 col-sm-auto d-flex align-items-center pe-0">
                <h5 class="fs-0 mb-0 text-nowrap py-2 py-xl-0">@Resource.List </h5>
            </div>
            <div class="col-8 col-sm-auto text-end ps-2">
                <div id="table-customers-replace-element">

                    <button class="btn btn-outline-primary btn-sm" id="BtnAdd" type="button" data-bs-toggle="modal" data-bs-target="#ModelExchangeRate">
                        <span class="d-none d-sm-inline-block ms-1">@Resource.New </span>
                        <span class="fas fa-plus" data-fa-transform="shrink-3 down-2"></span>
                    </button>

                </div>
            </div>
        </div>
    </div>
    <div class="card-body p-2 bg-light">
        <div class="table-responsive">
            <div id="GrdExchangeRate">
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ModelExchangeRate" data-keyboard="false" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-scrollable modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Resource.AddNew</h5>
                <button type="button" class="btn-close btn btn-sm btn-circle transition-base p-0" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="FrmExchangeRate">
                <div class="modal-body">
                    <div class="row p-2">
                        <div class="col-md-12">
                            <label for="CurrencyID"> @Resource.Currency</label><br />
                            <select id="CurrencyID" name="CurrencyID" class="select_2 form-control form-control-sm">
                            </select>
                        </div>

                    </div>
                    <div class="row p-2">
                        <div class="col-md-6">
                            <label for="Amount"> @Resource.Amount</label><br />
                            <input type="text" name="Amount" id="Amount" autocomplete="off" dir="auto" class="form-control form-control-sm" />
                        </div>
                        <div class="col-md-6">
                            <label for="ExRate"> @Resource.ExchangeRate</label><br />
                            <input type="text" name="ExRate" id="ExRate" autocomplete="off" dir="auto" class="form-control form-control-sm" />

                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <input type="hidden" name="ExchangeID" id="ExchangeID" class="form-control form-control-sm" />
                    <button type="button" id="Save" class="btn btn-sm btn-outline-primary">@Resource.Save</button>
                    <button type="button" class="btn btn-sm btn-outline-danger" data-bs-dismiss="modal">@Resource.Close</button>
                </div>

            </form>

        </div>
    </div>
</div>

<script>

    function setgrid() {
        var cellsrenderer = function (row, column, value) {
            return '<div style="text-align: center; margin-top: 5px;"><label class="badge bg-success"> ' + moment(value).fromNow() + '</label></div>';

        }

        const isRTL = JSON.parse(localStorage.getItem('isRTL'))
        const aln = (isRTL) ? 'right' : 'left';
        var isAdaptive = ($(document).width() <= 500) ? true : false;

        $("#GrdExchangeRate").jqxGrid(
            {
                width: '99%',
                enabletooltips: true,
                pageable: true,
                pagermode: 'simple',
                showfilterrow: true,
                filterable: true,
                editable: false,
                autoheight: true,
                columnsresize: false,
                sortable: true,
                pagesize: 15,
                altrows: true,
                rtl: isRTL,
                adaptive: isAdaptive,
                columns: [

                    { text: '@Resource.Currency', dataField: 'CurrencyEnglish', width: '10%', cellsalign: aln, align: aln },
                    { text: '@Resource.Amount', dataField: 'Amount', width: '10%', cellsalign: aln, align: aln },
                    { text: '@Resource.ExchangeRate', dataField: 'ExRate', width: '10%', cellsalign: aln, align: aln },
                    { text: '@Resource.AFNAmount', dataField: 'AFNAmount', width: '10%', cellsalign: aln, align: aln },
                    { text: '@Resource.Hijri_Shamsi_Date', dataField: 'D_EDate', width: '20%', cellsalign: aln, align: aln },
                    //{ text: '@Resource.Gregorian_Date', dataField: 'EDate', cellsalign: aln, align: aln, cellsformat: 'dd-MMM-yyyy' },
                    { text: '@Resource.Duration', dataField: 'EDate', width: '20%', cellsalign: aln, align: aln, cellsrenderer: cellsrenderer},
                    { text: '@Resource.ConversionOperator', dataField: 'ConversionOperator', cellsalign: aln, align: aln},

                ]

            });
        fillgrid('/INV/ExchangeRate/GetExchangeList');

    }

    function fillgrid(varurl) {

        var datafields = [
            { name: 'ExchangeID' },
            { name: 'ExRate' },
            { name: 'CurrencyID' },
            { name: 'ConversionOperator' },
            { name: 'D_EDate' },
            { name: 'EDate', type: 'date', format: "dd-MMM-yyyy"},
            { name: 'Amount' },
            { name: 'CurrencyEnglish' },
            { name: 'AFNAmount' },

        ];
        var source =
        {
            datatype: "json",
            datafields: datafields,
            cache: false,
            //   url: '/HR/Dept/GetDept',
            url: varurl,
            root: 'Rows'
        };

        var dataadapter = new $.jqx.dataAdapter(source, {
            loadError: function (xhr, status, error) {
                console.log(error);
            }
        }
        );

        $("#GrdExchangeRate").jqxGrid(
            {
                source: dataadapter
            });
    }
</script>

