@{
    ViewBag.Title = Resource.Purchase;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using AlphaTechMIS.Resources
@Scripts.Render("~/Content/jqxGrid/js")

<script>
    var rowCounts = 0;
    $(document).ready(function () {
        makeDates(["D_EDate"], "FrmPurchase", "rtl");

        FillSelect2('/INV/Purchase/GetDealer?TypeID=2', 'DealerID', 'DealerID', 'Name', '@Resource.Please_Select');
        FillSelect2('/INV/z_Product/zTypeList', 'PTID', 'PTID', 'TName', '@Resource.Please_Select');
        FillSelect2('/INV/z_Unit/UnitList', 'UnitID', 'UnitID', 'UnitName', '@Resource.Please_Select');

        $("#AddRow").click(function () {
            var Product = $('#ProductID :selected').text();
            var Unit = $("#UnitID :selected").text();

            var ProductID = $("#ProductID").val();
            var UnitID = $("#UnitID").val();
            var Quantity = $("#Quantity").val();
            var UnitPrice = $("#UnitPrice").val();

            var TotalPrice = Quantity * UnitPrice;
            var TP = 0;

            if (ProductID != 0 && UnitID != 0 && Quantity != "" && UnitPrice !="") {

                var tr =

                    `<tr class="dataCash" id="datarow` + rowCounts + `">
                         <td>`+ Product+`</td>
                         <td>`+ Quantity +`</td>
                         <td>`+ Unit +`</td>
                         <td>`+ UnitPrice +`</td>
                         <td class="TotalPrice">`+ TotalPrice +`</td>
                         <td>
                             <div class="dropdown font-sans-serif position-static">
                                 <button class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false"><span class="fas fa-ellipsis-h fs--1"></span></button>
                                 <div class="dropdown-menu dropdown-menu-end border py-0">
                                     <div class="bg-white py-2"><a class="dropdown-item" href="#!">@Resource.Edit</a><a class="dropdown-item text-danger removeCash" href="#!">@Resource.Delete</a></div>
                                 </div>
                             </div>
                         </td>
                    </tr>`;


                $('#tblProductList').append(tr);

            } else {
                toastr["error"]("Please fill the required fields ");
                $("#AddRow").attr("disable", true);
                return;
            }
            $('tr.dataCash').each(function () {

                TP += Number($(this).find('.TotalPrice').text());

            });
            $("#TotalPrice").val(TP);


        });
        $('#tblProductList').delegate('a.removeCash', 'click', function () {
            $(this).parent().parent().parent().parent().parent().remove();
                rowCounts -= 1;
        });
    });
</script>
<div class="card card-primary mb-3" id="customersTable" data-list="{&quot;valueNames&quot;:[&quot;name&quot;,&quot;email&quot;,&quot;phone&quot;,&quot;address&quot;,&quot;joined&quot;],&quot;page&quot;:10,&quot;pagination&quot;:true}">
    <div class="card-header">
        <div class="row flex-between-center">
            <div class="col-4 col-sm-auto d-flex align-items-center pe-0">
                <h5 class="fs-0 mb-0 text-nowrap py-2 py-xl-0">@Resource.Purchase </h5>
            </div>
            <div class="col-8 col-sm-auto text-end ps-2">
                <div id="table-customers-replace-element">

                    <button class="btn btn-outline-primary btn-sm" id="BtnAdd" type="button" data-bs-toggle="modal" data-bs-target="#ModelPurchase">
                        <span class="d-none d-sm-inline-block ms-1">@Resource.New </span>
                        <span class="fas fa-plus" data-fa-transform="shrink-3 down-2"></span>
                    </button>

                </div>
            </div>
        </div>
    </div>
    <div class="card-body p-2 bg-light">
        <div class="table-responsive">
            <div id="GrdPurchase">
            </div>
        </div>
    </div>
</div>
@*modal-dialog-scrollable*@

<div id="ModelPurchase" class="modal fade" data-keyboard="false" data-bs-backdrop="static">
    <div class="modal-dialog modal-xl  ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Resource.Purchase</h5>
                <button type="button" class="btn-close btn btn-sm btn-circle transition-base p-0" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="FrmPurchase">
                    <div class="row p-2">
                        <div class="col-md-5">
                            <fieldset>
                                <legend>@Resource.TransactionInfo</legend>
                                <div class="row p-2">
                                    <div class="col-md-12">
                                        <label for="DealerID"> @Resource.Vendor</label><br />
                                        <select id="DealerID" name="DealerID" class="select_2 form-control form-control-sm">
                                        </select>
                                    </div>


                                </div>
                                <div class="row p-2">
                                    <div class="col-md-6">
                                        <label for="D_EDate"> @Resource.Hijri_Shamsi_Date</label><br />
                                        <input type="text" name="D_EDate" id="D_EDate" autocomplete="off" dir="auto" class="form-control form-control-sm" />
                                    </div>
                                    <div class="col-md-6">
                                        <label for="ExRate"> @Resource.ExchangeRate</label><br />
                                        <input type="text" name="ExRate" id="ExRate" autocomplete="off" dir="auto" class="form-control form-control-sm" readonly />
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <legend>@Resource.Add_Product</legend>
                                <div class="row p-2">
                                    <div class="col-md-6">
                                        <label for="PTID"> @Resource.Type</label><br />
                                        <select id="PTID" name="PTID" class="select_2 form-control form-control-sm" onchange="GetProduct();">
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="ProductID"> @Resource.Product</label><br />
                                        <select id="ProductID" name="ProductID" class="select_2 form-control form-control-sm">
                                            <option value="0" selected>@Resource.Please_Select</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row p-2">
                                    <div class="col-md-6">
                                        <label for="UnitID"> @Resource.Unit</label><br />
                                        <select id="UnitID" name="UnitID" class="select_2 form-control form-control-sm">
                                        </select>
                                    </div>

                                    <div class="col-md-6">
                                        <label for="Quantity"> @Resource.Quantity</label><br />
                                        <input type="text" name="Quantity" id="Quantity" autocomplete="off" dir="auto" class="form-control form-control-sm" />
                                    </div>


                                </div>
                                <div class="row p-2">
                                    <div class="col-md-6">
                                        <label for="UnitPrice"> @Resource.UnitPrice</label><br />
                                        <input type="text" name="UnitPrice" id="UnitPrice" autocomplete="off" dir="auto" class="form-control form-control-sm" />
                                    </div>
                                    <div class="col-md-6">
                                        <label for="Add">&nbsp;</label><br />
                                        <button type="button" id="AddRow" class="btn btn-sm btn-outline-google-plus" style="width:100%">
                                            <span class="fas fa-plus" data-fa-transform="shrink-3 down-2"></span>
                                            @Resource.Add
                                        </button>
                                    </div>
                                </div>

                            </fieldset>
                        </div>
                        <div class="col-md-7">
                            <fieldset>
                                <legend>@Resource.Product_List</legend>
                                <div class="row">
                                    <div class="table-responsive Scroll" style="height:415px">
                                        <table class="table table-sm table-bordered table-striped table-hover table-responsive-lg">
                                            <thead>
                                                <tr class="table-primary">
                                                    <th width="30%">@Resource.Product</th>
                                                    <th>@Resource.Quantity</th>
                                                    <th>@Resource.Unit</th>
                                                    <th width="15%">@Resource.UnitPrice</th>
                                                    <th>@Resource.TotalPrice</th>
                                                    <th width="5%">@Resource.Action</th>


                                                </tr>

                                            </thead>
                                            <tbody id="tblProductList">

                                                <tr>
                                                    <td>Iphone 10</td>
                                                    <td>2</td>
                                                    <td>Set</td>
                                                    <td>5000,0</td>
                                                    <td>100,000</td>
                                                    <td>
                                                        <div class="dropdown font-sans-serif position-static">
                                                            <button class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false"><span class="fas fa-ellipsis-h fs--1"></span></button>
                                                            <div class="dropdown-menu dropdown-menu-end border py-0">
                                                                <div class="bg-white py-2"><a class="dropdown-item" href="#!">@Resource.Edit</a><a class="dropdown-item text-danger" href="#!">@Resource.Delete</a></div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>


                                            </tbody>
                                            <tfoot id="tblTotal">
                                                <tr>
                                                    <td colspan="4"><b> @Resource.TotalPrice</b></td>
                                                    <td colspan="2">
                                                        <input type="text" name="TotalPrice" id="TotalPrice" autocomplete="off" dir="auto" class="form-control form-control-sm" placeholder="0.00" readonly />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="4"><b> @Resource.Paid_Amount</b></td>
                                                    <td colspan="2">
                                                        <input type="text" name="PaidAmount" id="PaidAmount" autocomplete="off" dir="auto" class="form-control form-control-sm" placeholder="0.00" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="4"><b> @Resource.Due_Amount</b></td>
                                                    <td colspan="2">
                                                        <input type="text" name="DueAmount" id="DueAmount" autocomplete="off" dir="auto" class="form-control form-control-sm" placeholder="0.00" readonly />
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </fieldset>

                        </div>
                    </div>
                </form>

            </div>

            <div class="modal-footer">
                <input type="hidden" name="ExchangeID" id="ExchangeID" class="form-control form-control-sm" />
                <button type="button" id="Save" class="btn btn-sm btn-outline-primary">@Resource.Save</button>
                <button type="button" class="btn btn-sm btn-outline-danger" data-bs-dismiss="modal">@Resource.Close</button>
            </div>
        </div>
    </div>
</div>


<script>
      function GetProduct() {
        $("#ProductID").empty();
          FillSelect2('/INV/z_Product/zProductList?PTID=' + $("#PTID").val(), 'ProductID', 'ProductID', 'PName', '@Resource.Please_Select');
    }
</script>