@{
    ViewBag.Title = Resource.Purchase;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using AlphaTechMIS.Resources
@Scripts.Render("~/Content/jqxGrid/js")

<script>
    var rowCounts = 0;
    $(document).ready(function () {
        makeDates(["D_EDate"], "FrmPurchase", "rtl");
        makeContextMenu("Menu", "GrdPurchase", 200, 100);

        FillSelect2('/INV/Purchase/GetDealer?TypeID=2', 'DealerID', 'DealerID', 'Name', '@Resource.Please_Select');
        FillSelect2('/INV/z_Product/ProductList', 'ProductID', 'ProductID', 'PName', '@Resource.Please_Select');

        setgrid();
        setDetailgrid();
        $('#tblProductList').delegate('a.removeCash', 'click', function () {

            $(this).parent().parent().parent().parent().parent().remove();
            var TP = 0;
            $('tr.dataCash').each(function () {
                TP += Number($(this).find('.TotalPrice').text());
            });
            $("#TotalPrice").val(TP);
            rowCounts -= 1;
        });
        $("#AddRow").click(function () {
            var Product = $('#ProductID :selected').text();
            var Unit = $('#UnitID :selected').text();


            var ProductID = $("#ProductID").val();
            var UnitID = $("#UnitID").val();
            var Quantity = $("#Quantity").val();

            var UnitPrice = $("#UnitPrice").val();
            var check_if_exist = $(".Product" + ProductID).val();

            if (check_if_exist != undefined && check_if_exist == ProductID) {
                toastr["error"]('this product already added to the list');
                return;
            }

            var TotalPrice = Quantity * UnitPrice;
            var TP = 0;

            if (ProductID != 0 && UnitID != 0 && Quantity != "" && UnitPrice != "") {

                var tr =

                    `<tr class="dataCash" id="datarow` + rowCounts + `">
                      <td>` + Product + `<input type="hidden" class="Products Product` + ProductID + `" value="` + ProductID + `" />   </td>
                      <td>`+ Quantity + `<input type="hidden" class="Quantities" value="` + Quantity + `" /> </td>
                      <td>`+ Unit + `<input type="hidden" class="Units" value="` + UnitID + `" /></td>
                      <td>`+ UnitPrice + `<input type="hidden" class="UnitPrices" value="` + UnitPrice + `" /> </td>
                      <td class="TotalPrice">`+ TotalPrice + `</td>
                      <td>
                          <div class="dropdown font-sans-serif position-static">
                              <button class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false"><span class="fas fa-ellipsis-h fs--1"></span></button>
                              <div class="dropdown-menu dropdown-menu-end border py-0">
                                  <div class="bg-white py-2"><a class="dropdown-item text-danger removeCash" href="#!">@Resource.Delete</a></div>
                              </div>
                          </div>
                      </td>
                 </tr>`;


                $('#tblProductList').append(tr);
                rowCounts++

            } else {
                toastr["error"]("Please fill the required fields ");
                $("#AddRow").attr("disable", true);
                return;
            }
            $('tr.dataCash').each(function () {

                TP += Number($(this).find('.TotalPrice').text());

            });
            $("#TotalPrice").val(TP);


        });



        $("#Save").click(function () {

            var validationResult = function (isValid) {
                if (isValid) {

                    var varURL = ($("#PurchaseID").val() == '' || $("#PurchaseID").val() == null) ? '/INV/Purchase/Create' : '/INV/Purchase/Update';
                    if ($('tr.dataCash').length < 1) {
                        toastr["error"]('@Resource.PleaseAddAtleastOneTransaction');

                    }

                    else {
                        Tra_data = [];
                        $('tr.dataCash').each(function () {
                            data = { "Products": "", "Quantities": "", "UnitPrices": "", "Units": "" }

                            data.Products = $(this).find('.Products').val();
                            data.Quantities = $(this).find('.Quantities').val();
                            data.UnitPrices = $(this).find('.UnitPrices').val();
                            data.Units = $(this).find('.Units').val();

                            Tra_data.push(data);

                        });
                        $("#Tran_data").val(JSON.stringify(Tra_data));


                        if ($("#PurchaseID").val() == '') {
                            $("#PurchaseID").remove();
                        }
                        $.ajax(
                            {
                                url: varURL,
                                type: 'post',
                                data: $('#FrmPurchase').serialize(),
                                success: function (result) {

                                    if (result == "true") {
                                        toastr["success"]('@Resource.Record_Saved')
                                        $('#GrdPurchase').jqxGrid('updatebounddata', 'data');
                                        $('#FrmPurchase').append("<input type='hidden' id='PurchaseID' name='PurchaseID' />");
                                        $('#ModelPurchase').modal('hide');
                                        $('#PurchaseID').val('');
                                    }
                                    else if (result == "update") {
                                        toastr["success"]('@Resource.Record_Update')
                                        $('#GrdPurchase').jqxGrid('updatebounddata', 'data');
                                        $('#FrmPurchase').append("<input type='hidden' id='PurchaseID' name='PurchaseID' />");
                                        $('#PurchaseID').val('');
                                        $('#ModelPurchase').modal('hide');
                                    }

                                    else {
                                        toastr["error"](result);

                                    }
                                }
                            });
                    }
                }

            }

            $('#FrmPurchase').jqxValidator('validate', validationResult);
        });
        $('#FrmPurchase').jqxValidator({
            hintType: 'label',
            animationDuration: 0,
            rtl: true,
            rules: [

                { input: '#D_EDate', message: '@Resource.Required', action: 'change, blur', rule: 'required' },
                { input: '#PaidAmount', message: '@Resource.Required', action: 'change, blur', rule: 'required' },

            ], theme: 'classic'
        });




        $("#Menu").on('itemclick', function (event) {
            var args = event.args;
            var rowindex = $("#GrdPurchase").jqxGrid('getselectedrowindex');
            if ($.trim($(args).text()) == "Product Detail") {
                editrow = rowindex;
                var offset = $("#GrdPurchase").offset();
                // get the clicked row's data and initialize the input fields.
                var dataRecord = $("#GrdPurchase").jqxGrid('getrowdata', editrow);
                fillDetailgrid('/INV/Purchase/GetPurchaseDetail?PurchaseID=' + dataRecord.PurchaseID);
                $("#ModelPurchaseDetail").modal('show');
            }

            else {

            }
        });

    });



</script>
<div class="card card-primary mb-3" id="customersTable" data-list="{&quot;valueNames&quot;:[&quot;name&quot;,&quot;email&quot;,&quot;phone&quot;,&quot;address&quot;,&quot;joined&quot;],&quot;page&quot;:10,&quot;pagination&quot;:true}">
    <div class="card-header">
        <div class="row flex-between-center">
            <div class="col-4 col-sm-auto d-flex align-items-center pe-0">
                <h5 class="fs-0 mb-0 text-nowrap py-2 py-xl-0">@Resource.Purchase </h5>
            </div>
            <div class="col-8 col-sm-auto text-end ps-2">
                <div id="table-customers-replace-element">

                    <button class="btn btn-outline-primary btn-sm" id="BtnAdd" type="button" data-bs-toggle="modal" data-bs-target="#ModelPurchase">
                        <span class="d-none d-sm-inline-block ms-1">@Resource.New </span>
                        <span class="fas fa-plus" data-fa-transform="shrink-3 down-2"></span>
                    </button>

                </div>
            </div>
        </div>
    </div>
    <div class="card-body p-2 bg-light">
        <div class="table-responsive">
            <div id="GrdPurchase">
            </div>
        </div>
    </div>
</div>
@*modal-dialog-scrollable*@

<div id="ModelPurchase" class="modal fade" data-keyboard="false" data-bs-backdrop="static">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Resource.Purchase</h5>
                <button type="button" class="btn-close btn btn-sm btn-circle transition-base p-0" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="FrmPurchase">
                    <div class="row p-2">
                        <div class="col-md-4">
                            <fieldset>
                                <legend>@Resource.TransactionInfo</legend>
                                <div class="row p-2">
                                    <div class="col-md-12">
                                        <label for="DealerID"> @Resource.Vendor</label><br />
                                        <select id="DealerID" name="DealerID" class="select_2 form-control form-control-sm" @*onchange="GetVendorCR()"*@>
                                        </select>
                                    </div>

                                </div>
                                <div class="row p-2">
                                    <div class="col-md-12">
                                        <label for="D_EDate"> @Resource.Hijri_Shamsi_Date</label><br />
                                        <input type="text" name="D_EDate" id="D_EDate" autocomplete="off" dir="auto" class="form-control form-control-sm" />
                                    </div>

                                </div>
                            </fieldset>
                            <fieldset>
                                <legend>@Resource.Add_Product</legend>
                                <div class="row p-2">
                                    <div class="col-md-12">
                                        <label for="ProductID"> @Resource.Product</label><br />
                                        <select id="ProductID" name="ProductID" class="select_2 form-control form-control-sm" onchange="GetProductUnit()">
                                        </select>
                                    </div>
                                </div>
                                <div class="row p-2">
                                    <div class="col-md-6">
                                        <label for="Quantity"> @Resource.Quantity</label><br />
                                        <input type="text" name="Quantity" id="Quantity" autocomplete="off" dir="auto" class="form-control form-control-sm" />
                                    </div>
                                    <div class="col-md-6">
                                        <label for="UnitID"> @Resource.Unit</label><br />
                                        <select id="UnitID" name="UnitID" class="select_2 form-control form-control-sm" disabled>
                                        </select>
                                    </div>
                                </div>

                                <div class="row p-2">
                                    <div class="col-md-6">
                                        <label for="UnitPrice"> @Resource.UnitPrice</label><br />
                                        <input type="text" name="UnitPrice" id="UnitPrice" autocomplete="off" dir="auto" class="form-control form-control-sm" />
                                    </div>
                                    <div class="col-md-6">
                                        <label for="Add">&nbsp;</label><br />
                                        <button type="button" id="AddRow" class="btn btn-sm btn-outline-google-plus" style="width:100%">
                                            <span class="fas fa-plus" data-fa-transform="shrink-3 down-2"></span>
                                            @Resource.Add
                                        </button>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-md-8">
                            <fieldset>
                                <legend>@Resource.Product_List</legend>
                                <div class="row">
                                    <div class="table-responsive Scroll" style="height:425px">
                                        <table class="table table-sm table-bordered table-striped table-hover table-responsive-lg">
                                            <thead>
                                                <tr class="table-primary">
                                                    <th>@Resource.Product</th>
                                                    <th>@Resource.Quantity</th>
                                                    <th>@Resource.Unit</th>
                                                    <th width="15%">@Resource.UnitPrice</th>
                                                    <th>@Resource.TotalPrice</th>

                                                    <th width="3%">Action</th>


                                                </tr>

                                            </thead>
                                            <tbody id="tblProductList">
                                            </tbody>
                                            <tfoot id="tblTotal">
                                                <tr>
                                                    <td colspan="4"><b> @Resource.TotalPrice</b></td>
                                                    <td colspan="3">
                                                        <input type="text" name="TotalPrice" id="TotalPrice" autocomplete="off" dir="auto" class="form-control form-control-sm" placeholder="0.00" readonly />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="4"><b> @Resource.Paid_Amount</b></td>
                                                    <td colspan="3">
                                                        <input type="text" name="PaidAmount" id="PaidAmount" autocomplete="off" dir="auto" class="form-control form-control-sm" placeholder="0.00" onchange="DueBalance()" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="4"><b> @Resource.Due_Amount</b></td>
                                                    <td colspan="3">
                                                        <input type="text" name="DueAmount" id="DueAmount" autocomplete="off" dir="auto" class="form-control form-control-sm" placeholder="0.00" readonly />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="4"><b> Previouse Balance</b></td>
                                                    <td colspan="3">
                                                        <input type="text" name="PreviouseBalance" id="PreviouseBalance" autocomplete="off" dir="auto" class="form-control form-control-sm" placeholder="0.00" readonly />
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </fieldset>

                        </div>
                    </div>
                    <div>
                        <input type="hidden" name="Tran_data" id="Tran_data" class="form-control form-control-sm" />
                        <input type="hidden" name="PurchaseID" id="PurchaseID" class="form-control form-control-sm" />
                    </div>
                </form>

            </div>

            <div class="modal-footer">

                <button type="button" id="Save" class="btn btn-sm btn-outline-primary">@Resource.Save</button>
                <button type="button" class="btn btn-sm btn-outline-danger" data-bs-dismiss="modal">@Resource.Close</button>
            </div>
        </div>
    </div>
</div>
<div id="ModelPurchaseDetail" class="modal fade" data-keyboard="false" data-bs-backdrop="static">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Resource.Purchase Detail</h5>
                <button type="button" class="btn-close btn btn-sm btn-circle transition-base p-0" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row p-0">
                    <div class="col-md-12">
                        <div id="GrdPurchaseDetail">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-outline-danger" data-bs-dismiss="modal">@Resource.Close</button>
            </div>
        </div>
    </div>
</div>
<div id="Menu">
    <ul dir="rtl">
        <li>
            <img src="~/images/pencil.png" />
            <span>Product Detail</span>
        </li>
    </ul>
</div>

<script>
    function GetProductUnit() {
        var ProductID = $("#ProductID").val();
         $("#UnitID").empty();
        FillSelect2NoMsg('/INV/z_Product/ProductUnit?ProductID=' + ProductID, 'UnitID', 'UnitID', 'UnitName');

    }
    function DueBalance() {
        const TotalPrice = Number($("#TotalPrice").val());
        const PaidAmount = Number($("#PaidAmount").val());
        if (PaidAmount > TotalPrice) {
            $("#PaidAmount").val('');
            toastr["error"]('Paid amount could not be grather than total price!');
        }
        else
            $("#DueAmount").val(TotalPrice - PaidAmount)
    }
    function setgrid() {

        const isRTL = JSON.parse(localStorage.getItem('isRTL'))
        const aln = (isRTL) ? 'right' : 'left';
        var isAdaptive = ($(document).width() <= 500) ? true : false;

        $("#GrdPurchase").jqxGrid(
            {
                width: '99%',
               // enabletooltips: true,
                pageable: true,
                pagermode: 'simple',
                showfilterrow: true,
                filterable: true,
                editable: false,
                autoheight: true,
                columnsresize: false,
                sortable: true,
                pagesize: 15,
                altrows: true,
                rtl: isRTL,
                adaptive: isAdaptive,
                columns: [

                    { text: 'ID', dataField: 'PurchaseID', width: '10%', cellsalign: aln, align: aln },
                    { text: 'Vendor Name', dataField: 'DelearName', cellsalign: aln, align: aln },
                    { text: 'Date', dataField: 'D_EDate', width: '10%', cellsalign: aln, align: aln },
                    { text: 'TotalPrice', dataField: 'TotalPrice', width: '10%', cellsalign: aln, align: aln },
                    { text: 'PaidAmount', dataField: 'PaidAmount', width: '10%', cellsalign: aln, align: aln },
                    { text: 'DueAmount', dataField: 'DueAmount', width: '10%', cellsalign: aln, align: aln },
                    { text: 'ExchangeRate', dataField: 'ExchangeRate', width: '10%', cellsalign: aln, align: aln },
            

                ]

            });
        fillgrid('/INV/Purchase/GetPurchase');

    }

    function fillgrid(varurl) {

        var datafields = [
            { name: 'PurchaseID' },
            { name: 'D_EDate' },
            { name: 'TotalPrice' },
            { name: 'PaidAmount' },
            { name: 'DueAmount' },
            { name: 'DealerID' },
            { name: 'Remarks' },
            { name: 'CreatedOn' },
            { name: 'IsReconciled' },
            { name: 'ExchangeRate' },
            { name: 'DelearName',type:'text' },
            { name: 'EDate', type: 'date', format: "yyyy-mm-DD" },

        ];
        var source =
        {
            datatype: "json",
            datafields: datafields,
            cache: false,
            //   url: '/HR/Dept/GetDept',
            url: varurl,
            root: 'Rows'
        };

        var dataadapter = new $.jqx.dataAdapter(source, {
            loadError: function (xhr, status, error) {
                console.log(error);
            }
        }
        );

        $("#GrdPurchase").jqxGrid(
            {
                source: dataadapter
            });
    }
    function setDetailgrid() {

        const isRTL = JSON.parse(localStorage.getItem('isRTL'))
        const aln = (isRTL) ? 'right' : 'left';
        var isAdaptive = ($(document).width() <= 500) ? true : false;

        $("#GrdPurchaseDetail").jqxGrid(
            {
                width: '99%',
                // enabletooltips: true,
                pageable: true,
                pagermode: 'simple',
                showfilterrow: true,
                filterable: true,
                editable: false,
                autoheight: true,
                columnsresize: false,
                sortable: true,
                pagesize: 15,
                altrows: true,
                rtl: isRTL,
                adaptive: isAdaptive,
                columns: [

                    { text: 'ID', dataField: 'PrDetailID', width: '10%', cellsalign: aln, align: aln },
                    { text: 'Product', dataField: 'PName', cellsalign: aln, align: aln },
                    { text: 'Quantity', dataField: 'Quantity', width: '10%', cellsalign: aln, align: aln },
                    { text: 'Unit Price', dataField: 'UnitPrice', width: '10%', cellsalign: aln, align: aln },
                    { text: 'Total Price', dataField: 'TotalPrice', width: '10%', cellsalign: aln, align: aln },

                ]

            });
    }

    function fillDetailgrid(varurl) {

        var datafields = [
            { name: 'PrDetailID' },
            { name: 'ProductID' },
            { name: 'PName', type: 'text' },
            { name: 'Quantity' },
            { name: 'UnitPrice' },
            { name: 'TotalPrice' },
            { name: 'PurchaseID' },
        
        ];
        var source =
        {
            datatype: "json",
            datafields: datafields,
            cache: false,
            url: varurl,
            root: 'Rows'
        };

        var dataadapter = new $.jqx.dataAdapter(source, {
            loadError: function (xhr, status, error) {
                console.log(error);
            }
        }
        );

        $("#GrdPurchaseDetail").jqxGrid(
            {
                source: dataadapter
            });
    }

</script>